body {
  width: 100%;
}

#objlib, #whatadded img.delete, #whatadded .options {
  display: none;
}

#elements {
  vertical-align: top;
}

#whatadded {
  border-left: 1px solid black;
  padding-left: 2px;
  overflow-y: auto;
}

.button, #whatadded span, #whatadded img {
  cursor: pointer;
}

.button:hover{
  background-color: lightgray;
}

#myCanvasDiv{
  overflow: auto;
  max-width: 1215px;
  max-height: 815px;
}